# Dependencies
/node_modules
/functions/node_modules

# Build outputs
/.next/
/build/
/dist/

# Firebase
.firebase/*
!/.firebase/firebase.json
!/.firebase/firebaserc
firebase-debug.log
firestore-debug.log
*.log

# Local environment files
.env.local

# Puppeteer cache
/functions/.local-chromium

# TS build info
*.tsbuildinfo
